.wrapper {
  margin: auto;
  width: 80%;
}

.top-fields-wrapper {
  /* height: 180px; */
}

.top-fields {
  /* position: fixed; */
  width: 100%;
  /* height: 140px; */
}

/* Navbar */
.navbar-container {
  background-color: #000;
  color: #F5CE24;
  text-align: center;
}

.navbar-container > img {
  padding: 10px;
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar-text {
  font-size: 20px;
  font-family: 'Impact Header';
  padding-bottom: 10px;
}

.pool-swimmer-container {
  padding: 20px 0;
  /* height: 100px; */
  background-color: #F5CE2480;
}

.pool-swimmer-content {
  width: 60%;
}

/* Merchandise Items */
.merchandise-item {
  padding: 40px 0;
  display: flex;
  border-bottom: 1px solid gray;
}

.merchandise-pic {
  flex: 2;
  text-align: center;
  padding: 10px;
}

.price-text {
  font-size: 20px;
  text-align: right;
  transform: rotate(90deg);
  transform-origin: left top 0;
}

.merchandise-pic img {
  height: 200px;
}

.merchandise-name {
  padding: 5px;
  font-size: 20px;
}

.merchandise-else {
  /* display: inline; */
  flex: 6;
  padding: 100px;
  text-align: center;
  /* background-color: aquamarine; */
}

.add-circle {
  /* flex: 1; */
  text-align: center;
  padding: 35px 10px;
}

.merchandise-price {
  flex: 2;
  padding: 10px;
}

.submit-button {
  text-align: center;
  margin: 30px;
}

.submit-button button {
  margin: 10px;
}

.running-total {
  position: -webkit-sticky;
  position: sticky;
  bottom: 100px;
  float: right;
  height: 100px;
  width: 100px;
  background-color: #FFFFFFDD;
  padding: 20px;
}

/* Review */
.category-label {
  font-weight: bold;
  padding-bottom: 10px;
}

.review-form {
  padding: 15px;
}
